@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Maven+Pro:wght@400;700&family=Montserrat:wght@600&family=Plus+Jakarta+Sans:wght@400;700&family=Raleway:wght@400;700&family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');


.message {
    font-family: 'Montserrat';
    display: flex;
    align-items: flex-end;

}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;

}

.content {
    padding: 10px;

    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #bbffbb;
}

.time {
    display: flex;
    justify-content: flex-end;

    color: #bbffbb;
}