.button {
    width: 132px;
    height: 30px;

}

.disabled {
}

.secondary {
}

.default {
    background: #0066CC;

}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
